extends ../layouts/common

block content   
    .inline-block
        h3.d-inline User
        span &nbsp
        a.d-inline.btn.btn-primary(href='/users/create' role='button') New
    br
    form(action='/users/search' method='get')
        .input-group
            input.form-control(type='text' placeholder='Search' name='searchString' aria-label='searchString' aria-describedby='basic-addon1' value=searchString)
            .input-group-append
                button.btn.btn-outline-success(type='submit') Search
    table.table.table-striped
        thead
            tr
            th(scope='col') ID
            th(scope='col') Avatar
            th(scope='col') Name
            th(scope='col') Email
            th(scope='col') Phone
            th(scope='col')
        tbody
            each user in users
                tr
                th(scope='row')=user.id
                td 
                    img(src=user.avatar width="50" height="50")
                td=user.name
                td=user.email
                td=user.phone
                td
                    a(href='/users/'+user.id) View